{:deps {hiccup/hiccup {:mvn/version "1.0.5"}}
 :paths ["src"]
 :tasks {build {:doc "Build the static site"
                :task (shell "bb -f src/site/fabricate/dev/dev.clj")}
         validate-links {:doc "Validate all built internal hyperlinks"
                         :task (shell "bb scripts/validate_links.clj")}}}